<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="#">
				<img class="logo" src="images/logo.svg" alt="" width="127" height="21">
			</a>
			<nav class="header__nav">
				<ul class="header__ul">
					<li class="header__li">
						<a class="header__link" href="#"> пицца </a>
					</li>
					<li class="header__li">
						<a class="header__link" href="#"> о нас </a>
					</li>
					<li class="header__li">
						<a class="header__link" href="#"> контакты </a>
					</li>
				</ul>
			</nav>
			<div class="phone">
				<a class="phone__item" href="tel:79661789530">+7(966) 178-95-30</a>
			</div>
			<button class="burger">
				<span class="burger__line"></span>
				<span class="burger__line"></span>
				<span class="burger__line"></span>
			</button>
		</div>
	</div>
</header>