html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

button:focus,
input:focus,
select:focus {
  outline: transparent;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  @include m900;
}

.btn {
  background-color: #ff5441;
  padding: 20px 75px;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, .9);
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  letter-spacing: .5px;
  transition: all .5s;
  @include m900;
}

.btn:hover {
  background-color: #ec4b38;
}

.btn:active {
  opacity: .8;
  transform: scale(.9);
}

.title {
  font-size: 48px;
  @include m900;
}

.page-section {
  margin-bottom: 110px;
}

// push footer to the bottom of page
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}