@media(max-width: 1200px) {

	//header
	.header {
		&__link {
			font-size: 16px;
			padding: 25px;
		}
	}

	.phone {
		&__item {
			font-size: 14px;
			padding: 8px 12px;
		}
	}
}

@media(max-width:820px) {
	.page-section {
		margin-bottom: 50px;
	}

	//header
	.header {
		&__inner {
			height: 55px;
		}

		&__nav {
			display: none;
		}
	}

	.burger {
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		margin-left: 10px;

		&__line {
			width: 35px;
			height: 3px;
			background-color: $yellow;
			border-radius: 5px;
			margin: 5px 0;
			display: block;
		}
	}

	.phone {
		margin-left: auto;
	}

	//menu
	.menu {
		&__nav {
			width: 500px;
			max-width: 100%;
			margin: 0 auto;
		}

		&__nav-list {
			flex-wrap: wrap;
			width: 100%;
			border-radius: 20px;
		}

		&__nav-item {
			width: 50%;
			flex-grow: 1; // button always will be 100% width even if the number of buttons is odd 
		}

		&__nav-btn {
			min-width: 0;
			width: 100%;
			border-top: 1px solid $gray;
		}

		//remove border of first and second buttons
		&__nav-item:nth-of-type(1) .menu__nav-btn,
		&__nav-item:nth-of-type(2) .menu__nav-btn {
			border-top: none;
		}

		//remove even button border
		&__nav-item:nth-of-type(even) .menu__nav-btn {
			border-right: none;
		}
	}
}

@media(max-width: 435px) {
	.title {
		font-size: 30px;
	}

	//header
	.phone {
		display: none;
		;
	}

	//intro
	.intro {
		&__info {
			font-size: 20px;
			line-height: 1.5;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 20px;
		}

		.btn {
			font-size: 15px;
			line-height: 1;
			padding: 15px 55px;
		}
	}
}