@media(max-width: 1300px) {

	//menu
	.menu {
		&__inner {
			margin: 0 -15px;
		}

		&__item {
			padding: 0 15px;
		}
	}

	//about
	.about__content {
		padding: 80px 15px 80px 50px;
	}
}


@media(max-width: 1200px) {

	//header
	.header {
		&__link {
			font-size: 16px;
			padding: 25px;
		}

		& .phone__item {
			font-size: 14px;
			padding: 8px 12px;
		}
	}

	//menu
	.product__size {
		padding: 10px 20px;
		font-size: 15px;
	}

}

@media(max-width: 1150px) {

	//menu
	.menu {
		&__item {
			width: 50%;
		}

		&__item:nth-of-type(even):before {
			content: '';
		}

		&__item:nth-of-type(odd):before {
			content: none;
		}
	}

	//contacts
	.contacts {
		&__container:before {
			width: 167px;
			height: 167px;
		}

		&__map {
			height: 350px;
			margin: 0 -15px;
		}
	}

}

@media(max-width: 820px) {
	.page-section {
		margin-bottom: 50px;
	}

	//header
	.header {
		&__inner {
			height: 55px;
		}

		&__nav {
			display: none;
		}
	}

	.burger {
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		margin-left: 10px;

		&__line {
			width: 35px;
			height: 3px;
			background-color: $yellow;
			border-radius: 5px;
			margin: 5px 0;
			display: block;
		}
	}

	.phone {
		margin-left: auto;
	}

	//menu
	.menu {
		&__nav {
			width: 500px;
			max-width: 100%;
			margin: 0 auto;
		}

		&__nav-list {
			flex-wrap: wrap;
			width: 100%;
			border-radius: 20px;
		}

		&__nav-item {
			width: 50%;
			flex-grow: 1; // button always will be 100% width even if the number of buttons is odd 
		}

		&__nav-btn {
			min-width: 0;
			width: 100%;
			border-top: 1px solid $gray;
		}

		//remove border of first and second buttons
		&__nav-item:nth-of-type(1) .menu__nav-btn,
		&__nav-item:nth-of-type(2) .menu__nav-btn {
			border-top: none;
		}

		//remove even button border
		&__nav-item:nth-of-type(even) .menu__nav-btn {
			border-right: none;
		}
	}

	//about
	.about {
		&__img {
			width: 100%;
		}

		&__container {
			justify-content: center;
		}

		&__content {
			width: 550px;
			max-width: 100%;
		}
	}

	.contacts__container:before {
		content: none;
	}

	//modals
	.modal{
		&__content {
			max-width: 100%;
			width: 100%;
			padding: 100px 30px;
			height: 100%;
			border-radius: 0;
		}
		&__li{
			font-size: 20px;
		}
	}

}

@media(max-width: 760px) {
	.menu {
		&__item {
			width: 100%;
			margin: 0 auto 30px;
		}

		&__item:nth-of-type(even):before {
			content: none;
		}

		//make item not full screen width
		&__product {
			width: 350px;
			max-width: 100%;
			margin: 0 auto;
			padding-bottom: 30px;
			border-bottom: 2px solid $gray;
		}

		&__item:last-of-type .menu__product {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	//contacts
	.contacts {
		&__wrapper {
			flex-direction: column;
		}

		&__title {
			margin-bottom: 35px;
		}

		&__start,
		&__end {
			width: 100%;
		}

		&__start {
			order: 1;
		}

		&__end {
			text-align: center;
			padding-left: 0;
			margin-bottom: 30px;
		}

		&__item {
			margin-bottom: 30px;
		}

		&.page-section {
			margin-bottom: 0;
		}
	}

	.socials {
		justify-content: center;
	}

	//footer
	.footer__info {
		font-size: 16px;
		padding: 19px 5px;
	}
}

@media(max-width: 435px) {
	.title {
		font-size: 30px;
	}

	//header
	.header .phone {
		display: none;
	}

	//intro
	.intro {
		&__info {
			font-size: 20px;
			line-height: 1.5;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 20px;
		}

		.btn {
			font-size: 15px;
			line-height: 1;
			padding: 15px 55px;
		}
	}

	//menu
	.product__btn {
		padding: 15px 40px;
	}

	//contacts
	.contacts__map {
		height: 250px;
	}

	//modals
	.modal__content {
		max-width: 100%;
		height: 100%;
		border-radius: 0;
	}
}