@import 'vars';
@import 'fonts';
@import 'global';

//start header
.header {
	background-color: rgba(19, 19, 17, .6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&__inner {
		display: flex;
		justify-content: space-between;
		color: #fff;
		text-align: center;
		align-items: center;
		height: 70px;
		overflow: hidden;
	}

	&__nav {
		margin-left: auto;
		margin-right: 20px;
	}

	&__ul {
		display: flex;
	}

	&__link {
		@include m900;
		font-size: 18px;
		padding: 23px 30px;
		position: relative;
		z-index: 1;
	}

	&__link:hover {
		color: #000;
	}

	&__link:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $yellow;
		z-index: -1;
		opacity: 0;
		transition: all .5s;
	}

	&__link:hover:before {
		opacity: 1;
	}
}

.phone {
	&__item {
		border: 3px solid $yellow;
		padding: 12px 18px;
		border-radius: 50px;
		transition: all .5s;
		font-size: 18px;
	}

	&__item:hover {
		border: 3px solid #fff;
		color: #ffa650;
	}
}

.burger {
	display: none;
}

//end header

//start intro
.intro {
	height: 100vh;
	min-height: 600px;
	background-image: url('../images/intro__bg.jpg');
	background-color: #000;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding: 100px 0;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		background-color: rgba(19, 19, 17, .6);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__info,
	&__title,
	&__btn {
		position: relative;
	}

	&__info {
		color: $yellow;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 10px;
	}

	&__title {
		font-size: 55px;
		line-height: 1.2;
		margin-bottom: 40px;
	}
}

//end intro
//start menu
.menu {
	&__wrapper {
		text-align: center;
		margin-bottom: 85px;
	}

	&__title {
		color: $yellow;
		margin-bottom: 40px;
	}

	//menu__nav helps to hidden box-shadow
	&__nav {
		display: flex;
		justify-content: center;
	}

	&__nav-list {
		margin: 0;
		padding: 0;
		display: flex;
		box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .1);
		border-radius: 25px;
		overflow: hidden; //only with menu__nav
	}

	&__nav-btn {
		cursor: pointer;
		padding: 0;
		border: none;
		border-right: 1px solid $gray;
		display: inline-block;
		background-color: transparent;
		text-align: center;
		color: $gray;
		@include m900;
		font-size: 18px;
		line-height: 1.2;
		min-width: 150px;
		padding: 15px;
		transition: all .5s;
	}

	//active button stay black
	&__nav-btn:not(.menu__nav-btn--active):hover {
		background-color: $yellow;
		color: #fff;
		border-right: 1px solid $yellow;
	}

	&__nav-btn--active {
		background-color: #000;
		color: #fff;
		border-right: 1px solid #000;
	}

	//remove border of the last button
	&__nav-item:last-of-type .menu__nav-btn {
		border-right: none;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}

	&__item {
		width: calc(100% / 3);
		margin: 0 auto 80px;
		padding: 0 20px;
		position: relative;
	}

	//border
	&__item:before {
		content: '';
		position: absolute;
		background-color: #f7f7f7;
		width: 3px;
		height: 100%;
		left: 0;
		top: 0;
		transform: translateX(-50%);
	}

	//remove border from every fourth item
	&__item:nth-of-type(3n + 1):before {
		content: none;
	}
}

.product {
	//push content down
	display: flex;
	flex-direction: column;
	height: 100%;

	&__img {
		display: block;
		margin-bottom: 10px;
		width: 100%;
		height: auto;
	}

	//push content down
	&__content {
		flex-grow: 1;
	}

	&__content,
	&__inner {
		padding: 0 10px;
	}

	&__title {
		font-size: 22px;
		line-height: 1.4;
		margin-bottom: 5px;
	}

	&__descr {
		@include r300;
		color: $gray;
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__sizes {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		border-radius: 23px;
		overflow: hidden;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .1);
	}

	&__size {
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		color: $gray;
		@include m900;
		font-size: 16px;
		padding: 13px 28px;
		border-radius: 23px;
	}

	&__size--active {
		color: #000;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .15);
	}

	&__price {
		font-size: 22px;
		line-height: 1.2;
	}

	&__btn {
		box-shadow: none;
		background-color: $yellow;
		font-size: 16px;
		line-height: 1;
		padding: 15px 56px;
		border-radius: 50px;
	}
}

//end menu
//start about
.about {
	position: relative;
	background: linear-gradient(to top, rgba(43, 43, 43, 1), rgba(31, 31, 31, 6));
	min-height: 430px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(19, 19, 17, .6);
		z-index: 8;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		object-fit: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__container {
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		color: #fff;
		position: relative;
		z-index: 9;
		width: 50%;
		padding: 120px 15px 140px 80px;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__text {
		@include r300;
		font-size: 18px;
		line-height: 1.5;
		padding-bottom: 10px;
	}
}

//end about
//start contacts
.contacts {
	&__title {
		text-align: center;
		margin-bottom: 90px;
	}

	&__container {
		position: relative;
	}

	&__container:before {
		content: '';
		position: absolute;
		background-image: url(../images/tomato.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 200px;
		height: 200px;
		right: 0;
		bottom: 0;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}


	&__start {
		width: 50%;
	}

	&__map {
		background-color: $gray;
		height: 450px;
		order: 1;
	}

	&__end {
		padding-left: 30px;
		width: 50%;
	}

	&__item {
		margin-bottom: 50px;
	}

	&__item:last-child {
		margin-bottom: 0;
	}

	&__subtitle {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 8px;
	}

	&__descr,
	&__phone {
		@include r300;
		font-size: 18px;
		line-height: 1.2;
	}

	&__phone {
		transition: all .5s;
	}

	&__phone:hover {
		text-decoration: underline;
		color: $yellow;
	}
}

.socials {
	display: flex;

	&-item+&-item {
		margin-left: 10px;
	}

	&__img {
		transition: all .5s;
	}

	&__img:hover {
		opacity: .7;
	}

	&__img:active {
		transform: scale(.8);
		opacity: .7;
	}
}

//end contacts
//start footer
.footer {
	background: linear-gradient(to top, rgba(43, 43, 43, 1), rgba(31, 31, 31, 6));

	&__info {
		text-align: center;
		color: $gray;
		font-size: 18px;
		line-height: 1.4;
		padding: 29px 5px;
	}
}

//end footer




@import 'media';